

body {
   
    justify-content: center;
    align-items: center;
    height: 100vh; /* Höhe des Viewports, damit es auch vertikal funktioniert */
    margin: 0; /* Entfernt Standardabstände */
}

#sudoku {
    border-collapse: collapse;
    margin-top: 20px; /* Optional: Fügt etwas Abstand oben hinzu */
}

#sudoku td {
    width: 40px;
    height: 40px;
    text-align: center;
    border: 1px solid black;
}
